
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 style="color: coral"align="center">Welcome to Community Medicine Automation </h4>
<div class="align-content-center">
    In developing countries, where the health-care industry continues to experience significant challenges that hamper the provision of healthcare services,
    interoperability and the connection of medical records are still an unrealized goal.
    Even though different types of medical record systems have been adopted,
    the journey continues due to environmental, infrastructural, and financial issues.
    With the growth of information technology, the healthcare sector has significantly improved,
    adopting various web and mobile-based electronic medical records.
    A significant achievement has been the use of Open-Source Medical Record System (OpenMRS) for HIV/AIDS and Tuberculosis healthcare services in developing countries like Kenya and Rwanda.
    This system has proven to be more reliable and efficient for patient follow-ups and allows for better healthcare services in general.

</div>
<div class="align-content-center" style="margin-top: 50px">
    The OpenMRS Community is a worldwide network of volunteers from many different backgrounds including technology, healthcare, and international development.
    Together, this community is working to build the world’s largest and most flexible technology platform to support delivery of healthcare in some of the most challenging environments on the planet.
</div>
<div class="align-content-center" style="margin-top:100px ; border: 1px solid burlywood">
    Benefits and Outcome
    <ul>
        <li>People are getting excellent & fast medical service and Hospitals also able to perform it in perfectly.</li>
        <li>Providing accurate, up-to-date, and complete information about patients at the point of care.</li>
        <li>Enabling quick access to patient records for more coordinated, efficient care.</li>
        <li>Helping providers more effectively diagnose patients, reduce medical errors, and provide safer care</li>
        <li>Improving patient and provider interaction and communication, as well as health care convenience</li>
        
    </ul>
</div>
